

<div ng-app="myApp" ng-controller="retrieveController">
    <head>
        <title>Retrieve Password</title>
    </head>
    <body>
    <div id="retrieve">
        </br>
        </br>
        <h1 style="margin-left: 490px; margin-top: 50px">Retrieve your password:</h1>
        <h5 style="margin-left: 410px">Please enter your user name and your verification question and answer</h5>
        <hr>
        </br>
        <form name="retrieveForm" ng-submit="submit()" novalidate>
            <label style="margin-left: 450px" for="userName"><b>User Name</b></label>
            <input id="userName" name="userName" ng-model="userName" type="text" style="margin-left: 13px"
                   placeholder="Enter User Name" required>
            <span ng-show="retrieveForm.userName.$touched && retrieveForm.userName.$error.required">This is required!</span>
            <span ng-show="retrieveForm.userName.$touched && retrieveForm.userName.$invalid">Invalid field</span>
            </br>
            </br>
            <label style="margin-left: 450px" for="verificationQuestion"><b>Verification Question</b></label>
            <select id="verificationQuestion" name="verificationQuestion" ng-model="verificationQuestion"
                    style="margin-left: 24px" required>
                <option name="que1" value="1">Q1</option>
                <option name="que2" value="2">Q2</option>
                <option name="que3" value="3">Q3</option>
                <option name="que4" value="4">Q4</option>
            </select>
            <span ng-show="retrieveForm.verificationQuestion.$touched && retrieveForm.verificationQuestion.$error.required">This is required! </span>
            <span ng-show="retrieveForm.verificationQuestion.$touched && retrieveForm.verificationQuestion.$invalid">Invalid field</span>
            </br>
            </br>
            <label style="margin-left: 450px" for="verificationAnswer"><b>Verification Answer</b></label>
            <input id="verificationAnswer" name="verificationAnswer" ng-model="verificationAnswer" type="text"
                   style="margin-left: 36px" placeholder="Enter Your Answer" required>
            <span ng-show="retrieveForm.verificationAnswer.$touched && retrieveForm.verificationAnswer.$error.required">This is required! </span>
            <span ng-show="retrieveForm.verificationAnswer.$touched && retrieveForm.verificationAnswer.$invalid">Invalid field</span>
            </br>
            </br>
            </br>
            <input ng-disabled="retrieveForm.$invalid" type="submit" class="buttonB" value="Retrieve"
                   style="margin-left: 620px">
        </form>
    </div>

    </body>

</div>
